
Opdracht_009/.vs/Opdracht_009/config/applicationhost.config
Opdracht_009/.vs/Opdracht_009/v16/.suo
Opdracht_009/.vs/ProjectSettings.json
Opdracht_009/.vs/slnx.sqlite
Opdracht_009/.vs/VSWorkspaceState.json
EO_SCSS/.vs/EO_SCSS/v16/.suo
EO_SCSS/.vs/EO_SCSS/config/applicationhost.config
EO_SCSS/.vs/ProjectSettings.json
EO_SCSS/.vs/slnx.sqlite
EO_SCSS/.vs/VSWorkspaceState.json
.vscode/settings.json
