
Opdracht_009/.vs/Opdracht_009/config/applicationhost.config
Opdracht_009/.vs/Opdracht_009/v16/.suo
Opdracht_009/.vs/ProjectSettings.json
Opdracht_009/.vs/slnx.sqlite
Opdracht_009/.vs/VSWorkspaceState.json
