
Opdracht_009/.vs/Opdracht_009/config/applicationhost.config
Opdracht_009/.vs/Opdracht_009/v16/.suo
Opdracht_009/.vs/ProjectSettings.json
Opdracht_009/.vs/slnx.sqlite
Opdracht_009/.vs/VSWorkspaceState.json
EO_SCSS/.vs/EO_SCSS/v16/.suo
EO_SCSS/.vs/EO_SCSS/config/applicationhost.config
EO_SCSS/.vs/ProjectSettings.json
EO_SCSS/.vs/slnx.sqlite
EO_SCSS/.vs/VSWorkspaceState.json
.vscode/settings.json
.vscode/settings.json
id4233/.vs/id4232/v16/.suo
*.config
id4233/.vs/ProjectSettings.json
id4233/.vs/slnx.sqlite
id4233/.vs/VSWorkspaceState.json
jsReturnStatements/.vs/jsReturnStatements/v16/.suo
jsReturnStatements/.vs/ProjectSettings.json
jsReturnStatements/.vs/slnx.sqlite
jsReturnStatements/.vs/VSWorkspaceState.json
4250js loops/.vs/ProjectSettings.json
4250js loops/.vs/slnx.sqlite
4250js loops/.vs/VSWorkspaceState.json
4250js loops/.vs/4250js loops/v16/.suo
GuessTheNumber_Game/.vs/slnx.sqlite
GuessTheNumber_Game/.vs/GuessTheNumber_Game/v16/.suo
GuessTheNumber_Game/.vs/ProjectSettings.json
GuessTheNumber_Game/.vs/VSWorkspaceState.json
*.json
id4268_js_defer/.vs/id4268_js_defer/v16/.suo
id4268_js_defer/.vs/slnx.sqlite
hamburgerMenu/.vs/hamburgerMenu/v16/.suo
hamburgerMenu/.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/WincAcademy-Homework/v16/.suo
2ArrayJS/.vs/2ArrayJS/v16/.suo
2ArrayJS/.vs/slnx.sqlite
2ArrayJS/.vs/2ArrayJS/v16/.suo
2ArrayJS/.vs/slnx.sqlite
2ArrayJS/.vs/slnx.sqlite
deSuperpowers_map_filter_reduce-class/.vs/slnx.sqlite
deSuperpowers_map_filter_reduce-class/.vs/deSuperpowers_map_filter_reduce-class/v16/.suo
DOM_ManipulatieJs/.vs/DOM_ManipulatieJs/v16/.suo
DOM_ManipulatieJs/.vs/slnx.sqlite
