* {
    box-sizing: border-box;
}

body {
    list-style: none;
    color: lightgrey;
    background-color: black;
    padding: 1px;
    font-family: "Arial";
}

header {
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
}

main {
    padding:1%;
   
    width:78%;
    display: block; /* Hide columns by default */
}

#films {
    padding-left: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
}

#filters {margin-left:2%;
          margin-top:1%;
          margin-right:2%;
          margin-bottom:1%;
          background-color: white;
}


/* Center website */
#main {
    margin-left: 12%;
   
    margin-right: 12%;
   
    max-width: auto;

}

#nav {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}