body {
    color: rgb(109, 96, 21);
    display: inline;
    font-family: sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
}

ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    position: relative;
    overflow: hidden;
    color: #272727;
    font-weight: 700;
}

.currentPage {
    background-color: slategrey;
}

a:hover {
    background-color: lightblue;
}

ul li a:focus {
    background-color: aqua;
}

a:nth-child(2n+1):hover {
    color: cornflowerblue;
}

a:first-child:hover {
    color: cornflowerblue;
}

a:last-child:hover {
    color: brown;
}

ul li a:last-child:hover {
    color: brown;
}

a:nth-child(2n+2):active {
    color: red;
    font-style: italic;
}

a:nth-child(2n+3):visited {
    color: yellow;
}

#green :focus {
    color: lawngreen;
    background: rgb(42, 95, 165);
}