body {
    justify-self: auto;
}

.container {
    display: flex;
    width: 300px;
    flex-direction: row;
    background-color: DodgerBlue;
}

    .container > div {
        background-color: #fff;
        border: 1px 1fr rgb(136, 63, 63);
        width: 300px;
        margin: 0px;
        text-align: center;
        line-height: 14px;
        font-size: 14px;
    }

.blogpost {
    width: 300px;
    border: 1px solid black;
}

@media (max-width: 800px) {
    .container {
        display: flex;
        width: 300px;
        flex-direction: column;
        background-color: DodgerBlue;
    }

        .container > div {
            background-color: #fff;
            width: 390px;
            margin: 10px;
            text-align: center;
            font-size: 14px;
        }
}
