/* Create two unequal columns that floats next to each other */

div {
    margin: 0%;
    text-align: left;
    align-self: center;
    float: left;
    padding: 4%;
}

.left {
    background-color: none;
    float: left;
    width: 63%;
}

.right {
    float: right;
    width: 19%;
}


/* Clear floats after the columns */

.row:after {
    content: "Heeft het volgende verzoek ter goedkeuring:";
    display: grid;
    clear: both;
}