@import url("https://fonts.googleapis.com/css?family=Oswald:700");

body {
    display: flex;
    background: #231F20;
    text-align: center;
}

h1 {
    color: #FFF;
    font-family: 'Oswald';
    font-weight: 700;
    position: relative;
    margin: 30px auto;
    text-transform: uppercase;
    width: 550px;
}

p::before {
    content: '';
    color: none;
    height: 32px;
    width: 32px;
    display: inline-block;
    border-radius: 32px 0px 0px 32px;
    border: 0px none #000000;
}

p::after {
    content: '';
    background-color: none;
    height: 32px;
    width: 32px;
    position: absolute;
    display: inline-block;
    position: absolute;
    border-radius: 0px 200px 200px 0px;
    border: 0px none #000000;
}

h1::before {
    background: #4A90E2;
    content: '';
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 8px;
    left: 0px;
    border-radius: 32px 0 0 32px;
}

h1::after {
    background: #4A90E2;
    content: '';
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    bottom: 8px;
    right: 0px;
    border-radius: 0 32px 32px 0;
}
