                    #Thema {
                    background-color: lightblue;
                    color: rgb(160, 134, 134);
                    padding: 0;
                    text-align: center;
                    margin: 2px;
                }
                
                #grey-background {
                    background-color: rgb(228, 231, 228);
                    color: black;
                    padding: 1%;
                    text-align: center;
                    margin: 1%;
                }
                
                #blue-background {
                    background-color: rgb(22, 22, 145);
                }
                
                #green-background {
                    background-color: green;
                }
                /* Style all elements with the class name "onderdeel"  or id Thema */
                
                .onderdeel {
                    background-color: tomato;
                    color: rgb(255, 255, 255);
                    padding: 5px;
                }
                
                .black-border {
                    border: 5px solid black;
                    color: white;
                    padding: 10px;
                }
                
                .gold-b-double {
                    border: 5px double gold;
                    color: rgb(22, 21, 21);
                    padding: 5px;
                }
                
                .blue-dotted {
                    border: 25px dotted blue;
                    color: rgb(22, 21, 21);
                    padding: 5px;
                }
                /* H */
                
                body {
                    font-family: Arial;
                    margin: 10px;
                    color: rgb(124, 8, 8);
                    background-color: lightblue;
                    padding: 0.1%;
                    text-align: center;
                }
                
                @media screen and (min-width: 400px) {
                    body {
                        background-color: lightgreen;
                        color: red;
                    }
                }
                
                @media screen and (min-width: 800px) {
                    body {
                        background-color: lavender;
                        color: yellow;
                    }
                }
                
                @media screen and (min-width: 1024px) {
                    body {
                        background-color: rgb(218, 196, 72);
                        color: rgb(43, 43, 39);
                    }
                }
                
                @media screen and (min-width: 300px) {
                    nav {
                        color: green;
                    }
                    @media screen and (min-width: 800px) {
                        nav {
                            background-color: rgb(20, 20, 19);
                            color: rgb(253, 253, 245);
                        }
                    }
                    @media ul and (min-width: 1024px) {
                        nav {
                            background-color: rgb(20, 20, 19);
                            color: rgb(253, 253, 245);
                        }
                    }
                    paragraph {
                        color: rgb(54, 2, 2);
                        background-color: rgb(219, 192, 247);
                        border: 1px;
                        padding: 1px;
                        margin-top: 0;
                        margin-bottom: 0;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    a {
                        color: rgb(54, 2, 2);
                        background-color: rgb(216, 51, 51);
                        border: solid blue;
                    }
                    p {
                        color: rgb(54, 2, 2);
                        background-color: rgb(216, 51, 51);
                        border: 2px solid blue;
                    }
                    li {
                        border: 2px dotted Violet;
                        color: rgb(124, 8, 8);
                    }
                    ul {
                        border: 2px solid rgb(117, 5, 117);
                        color: rgb(124, 8, 8);
                    }
                    smiley {
                        padding: 1%;
                        text-align: center;
                        size: 100%;
                        margin: 0;
                        box-sizing: content-box;
                    }
                    me {
                        border: 2px solid powderblue;
                        color: rgb(124, 8, 8);
                        text-align: center;
                        size: 100%;
                        margin: 0;
                        box-sizing: content-box;
                    }
                    main {
                        border: 1% solid rgb(221, 243, 96);
                        color: rgb(124, 8, 8);
                    }
                    ul {
                        list-style-type: none;
                    }
                    nav {
                        list-style-type: none;
                        margin: auto;
                        text-align: center;
                    }
                    header {
                        padding: 1px;
                        text-align: center;
                        background: #1abc9c;
                        color: white;
                        border: 1px solid rgb(235, 138, 58);
                        color: rgb(163, 11, 11);
                    }
                    footer {
                        padding: 1px;
                        border: 2px solid Violet;
                        color: rgb(124, 8, 8);
                        margin-right: auto;
                    }