* {
    box-sizing: border-box;
}

body {
    display: inline-grid;
    text-align: center;
    width: 440px;
    list-style: none;
    color: lightgrey;
    background-color: black;
    margin: 1%;
    padding: 1%;
    font-family: "Arial";
}

header#header {
    color: white;
    background-color: none;
    text-align: center;
    padding: 0%;
}
div {
    margin:0%;
    display:inline-grid;
    text-align:center;
}
main {
    padding: 0%;
    width: 100%;
    display: block; /* Hide columns by default */
}

#films {
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
}

#nav {
    padding:1%;
    justify-content: space-evenly;
}
nav#filters.filter {
 
}
#filters {
    display: flex;
    font-size: 16px;
    margin-left:1%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    background-color: orange;
}
label:hover {
    color: black;
}
label:active { 
    color:darkgoldenrod;
}
input#cat6:hover {
    background-color:lightgrey;
    color:black;
}
/* Center website */
main div {
    text-align: center;
    display: inline-grid;
}


h1 {
    font-size: 50px;
    word-break: break-all;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    color: white;
}


nav, input {
    display: flex;
    justify-content: center;
    color: white;
}

label {
    padding-right: 20px;
}

li {
    display: inline;
    margin: 10px;
}

img {
 
}

ul {
    padding-left: 10px;
    margin: 10px 0;
}

#cat6 {
    margin: 20px auto;
    color: black;
    width: 750px;
    height: 30px;
    padding-left: 10px;
}

#nope {
    display: flex;
    color: white;
    justify-content: center;
}
